<h1>Movies#list</h1>

<form>
  <input name="name" id="name" placeholder="Search Movie Titles">
  <select name="rating" id="rating">
    <option value="">Rating</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5.0">5</option>
  </select>
  <br></br>
  <input type="submit">
</form>

<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.name %></li>
  <% end %>
</ul>
